.main{
    height: 40rem;
    overflow-y: scroll;
    padding: 2rem 2rem;
    margin: 0.5rem 0.5rem;
}
.list {
    list-style: none;
    padding-left: 0;
}
  
.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    row-gap: 0.5rem;
  }
  
  