<div class="row">
  <input
    class="search"
    type="text"
    id="title"
    name="title"
    placeholder="Search Movies..."
    [(ngModel)]="search"
    (change)="onSearchChange()"
  />
  <select
    class="dropdown"
    name="genre"
    id="genre"
    (change)="onGenreChange()"
    [(ngModel)]="selectedGenre"
  >
    <option value="">Select Genre</option>
    <option *ngFor="let g of data.genres" value="{{ g }}">
      {{ g }}
    </option>
  </select>
</div>
<div class="main">
  <ul class="container">
    <li class="list list--inline" *ngFor="let movie of filteredMovies">
      <card
        (click)="navigateToMovieDetail(movie.id)"
        [image-src]="movie.posterUrl"
        [movie-title]="movie.title"
        [movie-year]="movie.year"
      ></card>
    </li>
  </ul>
</div>
